 
.container {
    display: flex;
    flex-direction: row;
    height: 200vh;
  }
  
  .left-column {
    width: 15%;
    background-color: #fff;
  }
  
  .right-column {
    width: 85%;
    background-color: #F4F5F9;
  }
  
.text:hover{
    text-decoration: underline;
    cursor: pointer;
}